http://127.0.0.1,
http://pushserver.local.xfrocks.com,
http://45.55.91.220,
push.appforo.com

errors stdout
log stdout

proxy / app:80 {
  transparent
}

tls daohoangson+push.appforo.com@hoasen.com {
  max_certs 10
}
